StaticCodeAnalysisService/Test.E2E/Test.E2E.StaticCodeAnalysis/Service References/StaticCodeAnalysisService/StaticCodeAnalysisService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models.AnalysisReport" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models.AnalysisReport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAnalysisReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnalysisReport" nillable="true" type="tns:AnalysisReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnalysisReport" nillable="true" type="tns:ArrayOfAnalysisReport" />
  <xs:complexType name="AnalysisReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnalysisReport" nillable="true" type="tns:AnalysisReport" />
</xs:schema>