StaticCodeAnalysisService/Test.E2E/Test.E2E.StaticCodeAnalysis/Service References/StaticCodeAnalysisService/StaticCodeAnalysisService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52218/StaticCodeAnalysisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models.Tools" />
  <xs:import schemaLocation="http://localhost:52218/StaticCodeAnalysisService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Models.AnalysisReport" />
  <xs:import schemaLocation="http://localhost:52218/StaticCodeAnalysisService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Models.GatingResult" />
  <xs:element name="SignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignUpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Download">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeTool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Models.Tools" minOccurs="0" name="tool" type="q1:Tools" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeToolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvokeToolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models.Tools" minOccurs="0" name="tool" type="q2:Tools" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models.AnalysisReport" minOccurs="0" name="ParseReportResult" nillable="true" type="q3:ArrayOfAnalysisReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="threshold" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Models.Tools" minOccurs="0" name="tool" type="q4:Tools" />
        <xs:element minOccurs="0" name="repository" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Models.GatingResult" minOccurs="0" name="GetRecentResultsResult" nillable="true" type="q5:ArrayOfGatingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>